# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
venv/
ENV/
dist/
build/

# VS Code
.vscode/

# Docker
Dockerfile*
docker-compose*
.pytest_cache
.dockerignore

# Ignore local config files
*.env
.env.*

# hidden files and directories
.git/
.gitignore
.github/
*.md
