fastapi
uvicorn[standard]
celery
pika
sqlalchemy
psycopg2-binary
python-multipart
requests
python-dotenv
python-whois
beautifulsoup4
dnspython
tldextract
validators
httpx
python-magic
yara-python
clamd
PyExifTool
pefile
pikepdf
oletools
rarfile
py7zr
python-magic
